<div class="container">
    <div class="row">
        <h1 id="greeting" data-id="{{id}}">{{email}}</h1>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unitModal">
        List Your Garage
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#findUnitsModal">
        Find Garages
    </button>
    <!-- Modal -->
    <div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="unitModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unitModalLabel">List Your Garage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        Garage name:<br>
                        <input type="text" name="name"><br>
                        description:<br>
                        <textarea type="text" name="description"></textarea><br>
                        address:<br>
                        <input type="text" name="address"><br>
                        city:<br>
                        <input type="text" name="city"><br>
                        state:<br>
                        <input type="text" name="state"><br>
                        zip:<br>
                        <input type="number" name="zip"><br>
                        capacity:<br>
                        <input type="number" name="capacity"><br>
                        tools:<br>
                        <input type="checkbox" name="tools" value="true" ><br>
                        climate controlled:<br>
                        <input type="checkbox" name="climate" value="true" ><br>
                        <button id="submit-unit" type="submit" class="btn btn-primary" data-dismiss="modal">List It</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="findUnitsModal" tabindex="-1" role="dialog" aria-labelledby="findUnitsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="findUnitsModalLabel">Find Garages</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        city:<br>
                        <input type="text" name="searchCity"><br>
                        state:<br>
                        <input type="text" name="searchState"></textarea><br>
                        <button id="findUnits" type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>Garages You Own:</h2>
    <ul class="list-group" id="units">
    </ul>
    <h2>Garages You've Requested:</h2>
    <ul class="list-group" id="requested">
    </ul>
    <h2>Garages You Are Renting:</h2>
    <ul class="list-group" id="occupied">
    </ul>
</div>
<script src="/js/profile.js"></script>