<div class="container">
    <div class="row">
        <h2>Sign Up</h2>
        <form>
            Email:<br>
            <input id="email" type="text" name="email"><br>
            Password:<br>
            <input id="password" type="text" name="lastname"><br><br>
            <input id="submit-user" type="submit" value="Submit">
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>